body {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #a2fec1;
    color: #ffffff;
}

a:link {
    color:aquamarine;
}

header {
float:right;
position: fixed;
width: 300px;
height: 50px;
background-color: #90a6b4;
color: #ffffff;
}

nav ul li  {
    display:inline;
    margin: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    font-size: auto;
}

article {
    display: flex;
    padding: 5px;
    padding-top:30px;
    padding-left:150px;
    width: auto;
    height: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20pt;
    background-color:  #0f476b;
    color: #ffffff;
    resize: horizontal;
    overflow: auto;
}

img {
width:80%;
height:80%;
border-radius: 8px;
margin:5pt;
}

#project1 {
    height: 300px;
    width: 500px;
}

#challenge4 {
    height: 150px;
    width: 500px;
}

.me {
width:auto;
height:500px;
border-radius: 8px;
margin:5pt;
}

section {
    margin-bottom: 20px;
    padding: 15px;
    height: fit;
    font-family: 'Times New Roman', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20pt;
    background-color: #0072bb;
    color: #ffffff;
}

#about {
    display:flex
}

p {
    font-family: 'Times New Roman', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align: left;
    color: #ffffff;
}

footer { 
    align-content: center;
    padding: 25px;
    width: auto;
    height: fit;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20pt;
    background-color:  #0072bb;
    color: #ffffff;
}

#button1 {
    background-color: #e8e0f3;
    padding:15px;
    width: 500px;
    font-size:18pt;
    border-radius:20pt;
    font-family: 'Times New Roman', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bold;
    outline:none;
}