/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Header Styles */
  header {
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  h1 {
    margin: 0;
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  nav li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
  }
  
  /* About Section Styles */
  #about {
    background-color: #f9f9f9;
    padding: 40px 20px;
  }
  
  .profile {
    text-align: center;
  }
  
  .profile img {
    border-radius: 50%;
    max-width: 200px;
    margin-bottom: 20px;
  }
  
  /* Work Section Styles */
  #work {
    background-color: #fff;
    padding: 40px 20px;
  }
  
  .portfolio {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .portfolio a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #333;
    margin: 20px;
  }
  
  .portfolio img {
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  /* Contact Section Styles */
  #contact {
    background-color: #f2f2f2;
    padding: 40px 20px;
    text-align: center;
  }
  
  #contact a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  /* Media Queries for Responsive Layout */
  @media only screen and (max-width: 600px) {
    .portfolio img {
      max-width: 100%;
    }
  }
  